@charset "utf-8";
/* CSS Document */


html { overflow-x: hidden;  font-family:"Microsoft YaHei UI";  height: 100%; _height:100%;}
body { margin: 0; padding: 0; height:100%; _height:100%; background:#ddd; 
			-webkit-font-smoothing: antialiased;
			-moz-font-smoothing: antialiased;
			font-smoothing: antialiased;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display:block; }
* {	margin: 0;	padding: 0;	
	-webkit-font-smoothing: antialiased;	
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
a:link {
 text-decoration: none;
 color: #000000;
}
a:visited {
 text-decoration: none;
 color: #000000;
}
a:hover {
 text-decoration: none;
 color: #000000;
}
	
